body {
}
.heading
{
    font-family: arial, Helvetica, sans-serif;
    font-size: 13px;
   DL_ujjain
    text-align: left;
    text-transform:uppercase;
}
.normaltext
{
    font-family: arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: left;
    text-transform:uppercase;
}
.uheading
{
    font-family: arial, Helvetica, sans-serif;
    font-size: 13px;
   DL_ujjain
    text-align: left;
    text-decoration: underline;
    text-transform:uppercase;
}
.printtext
{
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    padding: 5px;
    font-family: verdana;
    font-size: 12px;
    text-align: left;
    text-transform:uppercase;
    }
.tblprint
{
    font-family: verdana;
    font-size: 12px;
    text-align: left;
    border-top-style: solid;
    border-left-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-color: #999999;
    border-left-color: #999999;
    text-transform:uppercase;
}
.printtextbold
{
    padding: 5px;
    font-family: verdana;
   font-size: 12px;
    text-align: left;
    border-bottom-style: solid;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-color: #999999;
    border-bottom-color: #999999;
   DL_ujjain
    text-transform:uppercase;
}
